@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 800;
  src: url(./Khula_extrabold.woff2) format('woff2');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url(./Libre-Baskerville_italic.woff2) format('woff2'); 
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 600;
  src: url(./Dancing-Script_semibold.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(./Montserrat_regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(./Montserrat_semibold.woff2) format('woff2');
}