:root {
  --primary: #f24738;
  --secondary: #1acbbf;
  --black: #1c1b20;
  --light: #f8f8f8;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media all and (min-width: 1921px) {
  html {
    font-size: calc(60% + 0.1vw);
  }
}

@media all and (max-width: 600px) {
  html {
    font-size: 56%;
  }
}

main {
  font-size: 1rem;
  color: var(--black);
  font-family: 'Montserrat';
}

button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato';
  font-weight: 900;
}