// D.R.Y CSS
.wrapper__title {
  margin: 1rem 0;
  font-family: 'Khula';
  font-size: $font-size-title;
  letter-spacing: .18rem;
}

.italic {
  font-family: 'Libre Baskerville';
  font-weight: normal;
}

.subtitle {
  font-family: 'Dancing Script';
  font-size: 2rem;
  color: $primary;
  margin-bottom: 2rem;
  display: inline-block;
}

.color-primary {
  color: $primary;
}

.hidden {
  display: none;
}