// COLORS
$primary: #f24738;
$secondary: #1acbbf;
$black: #1c1b20;
$light: #f8f8f8;

// SPACING
$padding: 3rem;

// TYPOGRAPHY
$font-size-title: calc(4rem + (6 - 4) * ((100vw - 320px) / (1920 - 320)));